<manifest xmlns:google="http://schemas.google.com/apk/res/google"
    package="com.google.android.networkstack.tethering.xiaomi_sdm660"
    google:versionCode="1"
    google:versionName="1.0">
    <application google:hasCode="false" />
    <overlay
      google:targetPackage="com.google.android.networkstack.tethering"
      google:targetName="TetheringConfig"
      google:isStatic="true"
      google:priority="0"/>
</manifest>
