allow untrusted_app_29 hal_memtrack_hwservice:hwservice_manager { find };
get_prop(untrusted_app_29, vendor_fp_prop)
get_prop(untrusted_app_29, vendor_payment_security_prop)

# Alipay Fingerprint
type payment_security_prop;
allow untrusted_app_29 payment_security_prop:file { read open getattr map };
allow untrusted_app_29 proc_tty_drivers:file { read };
allow untrusted_app_29 proc_tty_drivers:file { open };
allow untrusted_app_29 proc_tty_drivers:file { getattr };
allow untrusted_app_29 serialno_prop:file { open };
allow untrusted_app_29 serialno_prop:file { getattr };
allow untrusted_app_29 vendor_default_prop:file { open };
allow untrusted_app_29 vendor_default_prop:file { getattr };
allow untrusted_app_29 vendor_default_prop:file { map };
allow untrusted_app_29 theme_prop:file { read };