type vendor_vppservice, domain;
allow vendor_vppservice mnt_vendor_file:file { read open getattr map write };
allow vendor_vppservice public_adsprpcd_file:file { read open getattr map write };
